<header>
  <h1><%= @category.name %></h1>

  <ul class="actions">

    <li><%= link_to "Edit Category",
        edit_category_path(@category), class: 'edit' %></li>
    <li><%= link_to "Delete Category", category_path(@category),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this category?" },
      class: 'delete' %></li>
    </ul>
</header>

<header>
  <h2>Products</h2>
  <ul class="actions">
    <li><%= link_to "New Product", new_category_product_path(@category),
      class: "new" %></li>
  </ul>
</header>

  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>name</th>
      <th>image</th>
      <th>description</th>
      <th>price</th>
    </thead>

  <tbody>
    <% @category.products.each_with_index do |c, index| %>
    <tr>
      <td> <%= index+1 %> </td>
      <td> <%= c.name %> </td>
      <td> <%= image_tag(c.image_url(:thumb).to_s) %> </td>
      <td> <%= c.description %> </td>
      <td> <%= c.price %> </td>
    </tr>
    <% end %>
  </tbody>
  </table>
